<nav
  class="navbar fixed-top navbar-expand-lg navbar-light d-flex justify-content-between mainColor fs-4 fw-bolde py-4"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container d-flex justify-content-between">
    <div>
      <a

        class="nav-link navbar-brand active text-white fs-2 fw-bolder"
        routerLink="home"
        >START FAMEWORK</a
      >
    </div>
    <div class="collapse navbar-collapse fs-5 fw-bold" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link text-white mx-2" routerLinkActive="bttn" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-2" routerLinkActive="bttn" routerLink="portfolio"
            >PORTFOLIO</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  mx-2" routerLinkActive="bttn" routerLink="contact"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
