<section class="container-fluid mainColor overflow-hidden">
  <div class="container my-5 py-5 text-center align-items-center justify-content-center">
    <img
      src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
      class="w-25 my-5 mx-auto align-items-center justify-content-center d-flex"
      alt="avatar"
    />
    <h1 class="text-center text-white">START FRAMEWORK</h1>
    <div class="d-flex justify-content-center align-items-center ">
      <div class="brdr"></div>
      <div class="">
        <i class="fa-solid fa-star text-white "></i>
      </div>
      <div class="brdr"></div>
    </div>
    <p class=" text-white fw-light">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>

